<!DOCTYPE html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"/>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'polls/app.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'polls/flex.css' %}"/>
	</head>
	<body>
		<div class="wrapper">
			<div class="content flex flex-center flex-column">
				{% if latest_question_list %}
				    <ul>
				    {% for question in latest_question_list %}
						<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
				    {% endfor %}
				    </ul>
				{% else %}
				    <p>No polls are available.</p>
				{% endif %}
			</div>
		</div>
	</body>
</html>
